<!-- left navigation -->
<div class="account-settings-template clearfix">
  <ul class="account-pages">

    <li class="accountDetails selected">
      <a href="#account/details" class="account-details">Account Details</a>
    </li>

    <li class="accountPassword">
      <a href="#account/password" class="account-password"> Change Password </a>
    </li>

    <!-- <li class="accountNotifications">
      <a href="#account/notifications" class="account-notifications">Email Notifications</a>
    </li> -->

    <li class="accountSubscription">
      <a href="#account/subscription" class="account-subscription"> Subscription Plan </a>
    </li>  
    
  </ul>
  <div class="account-settings-page"></div>
</div>
