<div class="image-uploader-template change-profile-pic clearfix">
  <img src="/images/icon_profilePicture_default@2x.png" class="profile-pic" /> 
  <div class="upload-logo">
    <span>Upload Logo ( 100px x 100px jpg, gif or png format )</span>
    <div class='uploader'></div>
    <div class="loading-spinner"></div>
  </div>
</div>