<div class="system-settings-template">

	<!-- upgrade header -->
	<!-- <div class="title-mod">
		<div class="title-fix">
			<span>Need to expand your sharing, storage, and bandwidth capacity?</span>
			<a class="setting-upgrade-button">
				<img src="/images/button_upgrade@2x.png" />
			</a>
			<div class="clear"></div>
		</div>
	</div> -->

	<!--site database setting -->
	<div class="database-mod">
		<label>Change Database Connections</label>
		<label> Database Host: </label>
		<input id="database_host" type="text" name="database_host" value="localhost" placeholder="Enter Database Host (i.e. localhost or IP address)" /><br>

		<label> Database Name: </label>
		<input id="database_name" type="text" name="database_name" value="" placeholder="Enter Database Name" /><br>

		<label> Database User Name: </label>
		<input id="database_user" type="text" name="database_user" value="" placeholder="Enter Database User Name" /><br>

		<label> Database User Password: </label>
		<input id="database_pass" type="password" name="database_pass" value="" placeholder="Enter Database User Password" /><br>
	    <input type="button" id="checkDatabase" value="Save">
	    <input type="button" id="saveDatabase" value="Save" style="display:none;">
		<br><br>
	</div>
	<!-- -->

	<!--site database setting -->
	<div class="ssl-mod">
		<label>Upload SSL Configuration File</label>
		<label> GD Bundle Crt: </label>
		<input id="ssl_gd" type="file" name="ssl_gd" /><br>
		<label><i>Upload your GD Bundle Crt file as <b>gd_bundle.crt</b> </i></label><br>

		<label> Olympus Crt: </label>
		<input id="ssl_olympus" type="file" name="ssl_olympus" /><br>
		<label><i>Upload your Olympus Crt file as <b>olympus.crt</b> </i></label><br>

		<label> Olympus Key: </label>
		<input id="ssl_key" type="file" name="ssl_key"  /><br>
		<label><i>Upload your Olympus key file as <b>olympus.key</b> </i></label><br>

	    <input type="button" id="uploadSSL" value="Upload">
		<br><br>
	</div>
	<!-- -->

	<!--site domain setting -->
	<div class="domain-mod">
		<label>Change Domain name</label>
		<input id="domainname" type="text" name="domainname" value="test" placeholder="Enter domain (i.e. www.domain.com -no http:// or https://)" /><br>
	    <input type="button" id="saveDomain" value="Save">
	    <input type="button" class="restart-server" value="Restart Server">
	    <!-- input type="button" class="update-code" value="Update Code" -->
		<br><br>
	</div>
	<!-- -->

	<!-- <hr><br> -->

	<!--Adapter Settings -->
	<div class="adapter-mod">
		<label>Adapter Settings</label>
		<input type="radio" name="adapter_type" value="Disk" /> Use Disk
		<input type="radio" name="adapter_type" value="S3" /> Use Amazon S3
		<br><br>
		<div id="Disk_adapter_details">
			<label> Disk Adapter Path: </label>
			<span>Default Path : <b>/var/www/html/olympus/api/files/</b></span>
			<input type="hidden" id="#disk_path" name="disk_path" value="/var/www/html/olympus/api/files/" >
			<!-- <input type="file" class="disk-path" placeholder="" value="" id="disk_path" name="disk_path" nwdirectory nwsaveas webkitdirectory directory multiple> -->
		</div>
		<div id="S3_adapter_details" style="display:none;">
			<label> Access Key Id :</label>
			<input type="text" class="S3-access" placeholder="" value="" id="S3_access" name="S3_access">

			<label> Secret Access Key :</label>
			<input type="text" class="S3-secret" placeholder="" value="" id="S3_secret" name="S3_secret">

			<label> Bucket :</label>
			<input type="text" class="S3-bucket" placeholder="" value="" id="S3_bucket" name="S3_bucket">

			<label> Region :</label>
			<input type="text" class="S3-region" placeholder="" value="" id="S3_region" name="S3_region"><br>
		</div>
	    <input type="button" id="saveAdapter" value="Save">
		<br><br>
	</div>
	<!-- -->

	<!-- <hr><br> -->

	<!--Email Service Settings -->
	<div class="email-mod">
		<label>Email Service Settings</label>
		<input type="radio" name="mail_service" value="mandrill" /> Use Mandrill
		<input type="radio" name="mail_service" value="internal" /> Use Internal Email Setup
		<br><br>
		<div id="mandrill_details">
			<label> Mandrill Api Key: </label>
			<input type="text" class="login-input-field mandrill-key" placeholder="" value="" id="mandrill_key" name="mandrill_key">
		</div>
		<div id="inernal_email_details" style="display:none;">
			<label> SMTP Server(Host) :</label>
			<input type="text" class="smtp-host" placeholder="" value="" id="smtp_host" name="smtp_host">
			<label> Port :</label>
			<input type="text" class="smtp-port" placeholder="" value="" id="smtp_port" name="smtp_port">
			<label> Username :</label>
			<input type="text" class="smtp-user" placeholder="" value="" id="smtp_user" name="smtp_user">
			<label> Password :</label>
			<input type="password" class="smtp-pass" placeholder="" value="" id="smtp_pass" name="smtp_pass"><br>
		</div>
	    <input type="button" id="saveEmail" value="Save">
		<br><br>
	</div>
	<!-- -->

	<!-- <hr><br> -->

	<!--trash setting -->
	<div class="trash-mod">
		<label>Trash Setting</label>
		<div style="">
			<input id="trash_setting" type="radio" name="trash_setting" value="manual"/ checked="checked"> Manually
			<a class="tooltips" style=" vertical-align: middle; display: inline-block !important;">
				<img src="images/FAQ.png">
				<span> Files will only be deleted when a user manually deletes it from trash. </span>
			</a>
		</div><br>
		<div style="">
			<input id="trash_setting" type="radio" name="trash_setting" value="auto"/> Automatic
			<a class="tooltips" style="vertical-align: middle; display: inline-block !important;">
				<img src="images/FAQ.png">
				<span>Duration for files to keep them in trash before deleting.</span>
			</a>
			<div id="trash_auto_setting">
				Delete trash files <select id="trash_setting_days" name="trash_setting_days">
					<option value="hourly">Hourly</option>
					<option value="daily">Daily</option>
					<option value="weekly">Weekly</option>
					<option value="monthly">Monthly</option>
					<option value="yearly">Yearly</option>
				</select>
			</div>
		</div><br>
	    <input type="button" id="saveTrashSetting" value="Save">
		<br><br>
	</div>
	<!-- -->

	<!-- <hr><br> -->

	<!--LDAP Settings -->
	<div class="ldap-mod">
		<label>LDAP/AD Settings</label>
		<input type="checkbox" name="ldap_enbled" id="ldap_enbled" /> Enable LDAP/AD
		<br><br>
		<input type="radio" name="service_type" value="1" /> LDAP Settings
		<input type="radio" name="service_type" value="2" /> AD Settings
		<br><br>
		<div id="ldap_details">
			<label> Server IP :</label>
			<input type="text" class="server-ip" placeholder="" value="" id="server_ip" name="server_ip">

			<label> Organisational Unit (OU) :</label>
			<input type="text" class="org-unit" placeholder="" value="" id="org_unit" name="org_unit">

			<label> Base DN :</label>
			<input type="text" class="basedn" placeholder="" value="" id="basedn" name="basedn">

			<label> Administrator :</label>
			<input type="text" class="ldap-admin" placeholder="" value="" id="ldap_admin" name="ldap_admin"><br>

			<label> Password :</label>
			<input type="password" class="ldap-pass" placeholder="" value="" id="ldap_pass" name="ldap_pass"><br>

			<input type="hidden" class="ldap-create-user" placeholder="" value="" id="ldap_create_user" name="ldap_create_user"><br>
		</div>
		<div id="ad_details" style="display:none;">
			<label> Server IP :</label>
			<input type="text" class="server-ip" placeholder="" value="" id="server_ip_ad" name="server_ip_ad">

			<label> Base DN :</label>
			<input type="text" class="basedn" placeholder="" value="" id="basedn_ad" name="basedn_ad">

			<label> Administrator :</label>
			<input type="text" class="ldap-admin" placeholder="" value="" id="ldap_admin_ad" name="ldap_admin_ad"><br>

			<label> Password :</label>
			<input type="password" class="ldap-pass" placeholder="" value="" id="ldap_pass_ad" name="ldap_pass_ad"><br>

			<input type="hidden" class="ldap-create-user" placeholder="" value="" id="ldap_create_user_ad" name="ldap_create_user_ad"><br>
		</div>
	    <input type="button" id="saveldapsettings" value="Save">
		<br><br>
	</div>
	<!-- -->

	<!--Code Update Settings -->
	<div class="update-mod">

		<label> Github Oraganization/Project: </label>
		<input id="git-organization" type="text" name="git-organization" value="Olympus-io" placeholder="Enter Github Oraganization/Project (ex. Olympus-io)" /><br>

		<label> Github Repository Name: </label>
		<input id="git-repo" type="text" name="git-repo" value="olympus-web" placeholder="Enter Github Repository Name" /><br>

		<label> Github Username: </label>
		<input id="git-username" type="text" name="git-username" value="" placeholder="Enter Github Username" /><br>

		<label> Github Password: </label>
		<input type="password" id="git-password" name="git-password" value="" placeholder="Enter Github Password" /><br>
		
	    <input type="button" id="checkforupdates" value="Click Here to check any updates">

	    <input type="button" class="restart-server" value="Restart Server">
	    
		<br><br>
	</div>
	<!-- -->

	<!-- <hr><br> -->
</div>










